<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>a2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>a.png</string>
            <key>size</key>
            <string>{16,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5b5e9671e6d5469a984abc747978fe9:04f3778039fe78b7e05e4da5c99dedca:3fe7819918ccd8b069678b9f17b4fc07$</string>
            <key>textureFileName</key>
            <string>a.png</string>
        </dict>
    </dict>
</plist>
