<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cplatform1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{40,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,10}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
            <key>Cplatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,2},{40,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,10}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
            <key>Cplatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,10}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
            <key>Cplatform4.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{12,4}}</string>
                <key>offset</key>
                <string>{14,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{12,4}}</string>
                <key>sourceSize</key>
                <string>{40,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cplatform.png</string>
            <key>size</key>
            <string>{151,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fdbfc8930c01afcde2538943063859f7:15492e616c1256c2008394f6401c7766:3683e982d68f7b0ea0c89a61e675641a$</string>
            <key>textureFileName</key>
            <string>Cplatform.png</string>
        </dict>
    </dict>
</plist>
