<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Cplatform1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{50,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>Cplatform2.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{50,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>Cplatform3.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{50,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,10}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
            <key>Cplatform4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{14,4}}</string>
                <key>offset</key>
                <string>{9,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{14,4}}</string>
                <key>sourceSize</key>
                <string>{50,10}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Cplatform.png</string>
            <key>size</key>
            <string>{174,14}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d199f1f141c2e06dbd7ec4e78eabcee:7fe26fc2c1a0405ca631e731d09d661b:3683e982d68f7b0ea0c89a61e675641a$</string>
            <key>textureFileName</key>
            <string>Cplatform.png</string>
        </dict>
    </dict>
</plist>
