<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UwalkR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>UwalkR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>UwalkR.png</string>
            <key>size</key>
            <string>{16,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f0482e4602c60e1f76f2df5b88510aaf:8b414e0a15326ca942d23da5da8f0e6a:26b9201b68086564cec7049de3c6e540$</string>
            <key>textureFileName</key>
            <string>UwalkR.png</string>
        </dict>
    </dict>
</plist>
