<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>walkR1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>walkR2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walkR.png</string>
            <key>size</key>
            <string>{16,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49b0d045092b02507408cdf118cc6491:fd58b1e6b15693232a62b34e0aae5da0:8ee4f16766ae39d359aad90beadac2d8$</string>
            <key>textureFileName</key>
            <string>walkR.png</string>
        </dict>
    </dict>
</plist>
