<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UwalkL1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{10,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{10,21}}</string>
                <key>sourceSize</key>
                <string>{10,21}</string>
            </dict>
            <key>UwalkL2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{12,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{12,20}}</string>
                <key>sourceSize</key>
                <string>{12,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>walkL.png</string>
            <key>size</key>
            <string>{16,47}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:32b0f3a1b2a531c94eb39af74ed16d77:3971d0771e752f87175add2f383fa0b4:48a116cb0ce9d111e9f5010e36c060c5$</string>
            <key>textureFileName</key>
            <string>walkL.png</string>
        </dict>
    </dict>
</plist>
